.duDetailContainer {
  width: 960px;
  min-height: 300px;
  background-color: #ddd;
  position: fixed;
  left: calc(50% - 480px);
  top: 144px;
  margin: auto;
  z-index: 20000;
  border-radius: 16px;

  div {
    text-transform: capitalize;
    padding: 8px 32px;
  }

  .customer {
    margin-top: 16px;
    padding: 0;
    display: flex;
  }

  .travel {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;

    .from {
      padding: 0;

      .start1 {

        padding: 8px 0;
      }

      .start2 {
        padding: 8px 0;
        font-weight: bold;
      }
    }

    .moveIcon {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    }

    .to {
      padding: 0;

      .end1 {
        padding: 8px 0;
      }

      .end2 {
        padding: 8px 0;
        font-weight: bold;
      }
    }
  }

  .price {
    font-weight: bold;
  }

  .seller {
    display: flex;

    div {
      padding: 0;
    }

    .sellerPhone {
      margin-left: 48px;
    }
  }

  .note {
    margin-bottom: 16px;
  }
}

.duMissingWarningContainer {
  background-color: #ddd;
  border-radius: 16px;
  align-items: center;
  width: 40%;
  min-width: 720px;
  margin: 16px auto;
  display: flex;
  height: 48px;
  justify-content: space-between;

  // border: 1px solid #FF6464;
  .mwMessage {
    font-weight: bold;
    padding-left: 16px;
    font-size: 1.2rem;
  }

  .mwFixButton {
    background-color: #e74c3c;
    color: #fff;
    margin-right: 16px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

}

.duInforContainer {
  min-width: 960px;
  display: flex;
  width: 50%;
  margin: 20px auto;
  justify-content: space-around;

  .inforPortrait {
    background-color: #ddd;
    height: 280px;
    width: 200px;

    img {
      //khi nào có ảnh tài xế thì chỉnh
    }
  }

  .inforDetailBox {
    width: 65%;
    margin-left: 50px;

    .detailName,
    .detailLoginName,
    .detailAmount {
      padding: 10px;
      text-transform: capitalize;
    }

    .detailAccountStatus {
      padding: 10px;
      text-transform: capitalize;

      button {
        padding: 8px;
        border: 1px solid #e74c3c;
        border-radius: 8px;
        margin-left: 16px;
        cursor: pointer;

        background-color: #FF6464;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: black;
        }
      }

      .active {

        background-color: #fff;
        color: black;

        &:hover {

          background-color: #FF6464;
          color: #fff;
        }
      }
    }

    .detailCarData {
      padding: 0 10px;
      text-transform: capitalize;

      div {
        padding: 10px 0;
      }
    }

  }
}

.duContainer {
  min-width: 960px;
  width: 80%;
  margin: 0 auto;
  min-height: 80vh;

  .box1 {
    .topBox1 {
      background-color: #fff;
      padding: 10px;
      margin: 10px 0;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #FF6464;
      text-transform: capitalize;
      font-size: 1.1rem;

      &:hover {
        background-color: #FF6464;
        color: #fff;
      }
    }

    .bottomBox1 {
      .imageBox {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // justify-content: space-between;
        // margin: 20px auto;
        background-color: rgba(221, 221, 221, 0.5);
        border-radius: 10px;
        padding: 10px;

        img {
          width: 150px;
          height: 150px;
          margin: 10px 20px;
        }
      }
    }
  }

  .box2 {
    .topBox2 {
      background-color: #fff;
      padding: 10px;
      margin: 10px 0;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #FF6464;
      text-transform: capitalize;
      font-size: 1.1rem;

      &:hover {
        background-color: #FF6464;
        color: #fff;
      }
    }

    .bottomBox2 {
      .duRidesList {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-bottom: 32px;

        // min-height: 340px;
        .rlType {
          width: 10%;

          .tableTitle {
            // background-color: #FF6464;
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            display: flex;
            align-items: center;
            border-bottom: 1px dashed #ddd;

            div {
              margin: auto;
            }
          }
        }

        .rlAddress {
          width: 40%;

          .tableTitle {
            // background-color: #FF6464;
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            display: flex;
            justify-content: space-between;
            text-align: center;

            div {
              // padding: 4px;
              width: 40%;
              margin: auto;
              display: flex;
              align-items: center;
            }
          }

          .tableContent {
            height: 64px;
            text-align: center;
            border-bottom: 1px dashed #ddd;
            display: flex;
            justify-content: space-between;

            div {
              // padding: 4px;
              width: 40%;
              margin: auto;
              display: flex;
              align-items: center;
            }
          }
        }

        .rlAcceptTime {
          width: 15%;

          .tableTitle {
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            align-items: center;
            border-bottom: 1px dashed #ddd;
            display: flex;
            justify-content: center;

            div {
              padding: 4px;
              min-width: 48px;
            }
          }
        }

        .rlStatus {
          width: 20%;

          .tableTitle {
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            border-bottom: 1px dashed #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .rlDetail {
          width: 15%;

          .tableTitle {
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px dashed #ddd;
            cursor: pointer;
          }
        }
      }

      .duPagination {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;

        >button {
          margin: 0 3px;
          padding: 5px 10px;
          text-align: center;
          cursor: pointer;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid #e74c3c;
          border-radius: 2px;

        }

        .active {
          background-color: #e74c3c;
          color: #fff;
        }
      }
    }

    .emptyWarning {
      padding: 10px;
      font-weight: bold;
      font-size: 1rem;

    }
  }

  .box3 {
    .topBox3 {
      background-color: #fff;
      padding: 10px;
      margin: 10px 0;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #FF6464;
      text-transform: capitalize;
      font-size: 1.1rem;

      &:hover {
        background-color: #FF6464;
        color: #fff;
      }
    }

    .bottomBox3 {
      margin-bottom: 10vh;

      .duCreatedList {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-bottom: 32px;

        // min-height: 340px;
        .clType {
          width: 10%;

          .tableTitle {
            // background-color: #FF6464;
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            display: flex;
            align-items: center;
            border-bottom: 1px dashed #ddd;

            div {
              margin: auto;
            }
          }
        }

        .clAddress {
          width: 40%;

          .tableTitle {
            // background-color: #FF6464;
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            display: flex;
            justify-content: space-between;
            text-align: center;

            div {
              // padding: 4px;
              width: 40%;
              margin: auto;
              display: flex;
              align-items: center;
            }
          }

          .tableContent {
            height: 64px;
            text-align: center;
            border-bottom: 1px dashed #ddd;
            display: flex;
            justify-content: space-between;

            div {
              // padding: 4px;
              width: 40%;
              margin: auto;
              display: flex;
              align-items: center;
            }
          }
        }

        .clCreatedTime {
          width: 15%;

          .tableTitle {
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            align-items: center;
            border-bottom: 1px dashed #ddd;
            display: flex;
            justify-content: center;

            div {
              padding: 4px;
              min-width: 48px;
            }
          }
        }

        .clStatus {
          width: 20%;

          .tableTitle {
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            border-bottom: 1px dashed #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .clDetail {
          width: 15%;

          .tableTitle {
            border-bottom: 1px solid black;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
          }

          .tableContent {
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px dashed #ddd;
            cursor: pointer;
          }
        }
      }

      .duPagination {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;

        >button {
          margin: 0 3px;
          padding: 5px 10px;
          text-align: center;
          cursor: pointer;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid #e74c3c;
          border-radius: 2px;

        }

        .active {
          background-color: #e74c3c;
          color: #fff;
        }
      }
    }

    .emptyWarning {
      // background-color: #ddd;
      padding: 10px;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 10vh;
    }
  }
}