.imageBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 20px auto;
  background-color: #ddd;
  border-radius: 10px;
  img {
    width: 150px;
    height: 150px;
    margin: 10px 20px;
  }
}

.duInforContainer {
  display: flex;
  width: 50%;
  margin: 20px auto;
  justify-content: space-around;

  .inforPortrait {
    background-color: #ddd;
    height: 280px;
    width: 200px;

    img {
      //khi nào có ảnh tài xế thì chỉnh
    }
  }

  .inforDetailBox {
    width: 65%;
    margin-left: 50px;

    .detailName,
    .detailLoginName,
    .detailAmount {
      padding: 10px;
      text-transform: capitalize;
    }

    .detailCarData {
      padding: 0 10px;
      text-transform: capitalize;

      div {
        padding: 10px 0;
      }

      .dataCarImageBox {
        button {
          padding: 15px;
          text-transform: capitalize;
          border: none;
          border-radius: 10px;
          background-color: #fff;
          border: 1px solid #FF6464;
          font-size: 1rem;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          &:hover {
            background-color: #FF6464;
            color: #fff;
          }
        }
      }
    }

  }
}