.dWrapper {
  min-width: 960px;
  background-color: #fff;
  .dMenu {
    display: flex;
    border-bottom: 1px solid;
    margin-top: 0.5rem;
    min-width: 100%;
    > li {
      border: 1px solid;
      padding: 4px 4px 0px 4px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
    }
    .fActived {
      background-color: aqua;
    }
  }
  .dContentWrapper {
    min-width: 100%;
  }
  .dUserName {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
  .dContentBox {
    .dTitle {
      font-size: 1.2rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #ddd;
      display: flex;
      > button {
        margin-left: auto;
        margin-right: 1rem;
        background-color: #fff;
        padding: 0.2rem;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: aqua;
        }
        &:active {
          background-color: rgb(30, 148, 227);
        }
      }
    }
    ul {
      margin: 0.8rem 0;
      // border-bottom: 1px solid #ddd;

      .total-info {
        font-weight: bold;
      }
      min-width: 100%;

      li {
        margin-left: 10vw;
        display: flex;
        padding: 0.6rem 0 0.3rem 0;

        p {
          width: 25%;
          &:first-child {
            font-weight: bold;
          }
        }
        &:last-child {
          margin-bottom: 20px;
        }
        .dAmount {
          color: #ce0026;
        }
        .dEdit {
          margin-left: auto;
          margin-right: 2%;
        }
      }
    }
  }
  .dAllRidesWrapper {
    margin-top: 3vh;
    .dAllRidesTittle {
      border-bottom: 1px solid #000;
    }
  }
}
