.bWrapper{
    height: max-content;
}
.createGroupBox {
    width: 80%;
    max-width: 1200px;
    min-width: 960px;
    margin: auto;
    padding: 16px;
    input{
        padding: 8px 16px;
        border: 1px solid #252B48;
        border-radius: 8px;
    }
    button{
        background-color: #f24e1e;
        color: #fff;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #f24e1e;
        margin-left: 8px;
    }
}
.adListGroup{
    table {
        width: 80%;
        max-width: 1200px;
        min-width: 960px;
        margin: auto;
        background-color: #fff;
        margin-bottom: 10vh;
        thead {
            tr {
                :first-child {
                    border-top-left-radius: 16px;
                }
    
                :last-child {
                    border-top-right-radius: 16px;
                }
    
                th {
                    width: 25%;
                    padding: 16px 0;
                    background-color: #0acf83;
                    text-transform: capitalize;
                }
            }
        }
    
        tbody {
            tr {
                td {
                    width: 25%;
                    text-align: center;
                    padding: 16px 0;
                    border-bottom: 1px dashed #0acf83;
                }
                :first-child{
                    width: 40%;
                    text-align: left;
                    padding-left: 32px;
                    font-size: 24px;
                    button{
                        padding: 8px 16px;
                        background-color: #1abcfe;
                        border-radius: 8px;
                        border: none;
                        float: right;
                        font-size: 1rem;
                        width: max-content;
                        margin-right: 16px;
                        font-size: 12px;
                        color: #fff;
                    }
                    input{
                        height: 14px;
                        width: 50%;
                        padding: 8px 16px;
                        font-size: 1rem;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}
