.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.createAdsBox{
    position: absolute;
    z-index: 20000;
    background-color: #fff;
    width: 480px;
    left: calc(50% - 240px);
    border-radius: 16px;
    div{
        padding: 16px;
        display: flex;
        align-items: center;
        label{
            width: 120px;
        }
        input{
            padding: 4px;
            border-radius: 4px;
        }
    }
    button{
        background-color: #fff;
        padding: 16px 32px;
        border-radius: 16px;
        margin-left: calc(50% - 80px);
        border: 1px solid black;
        margin-bottom: 32px;
        margin-top: 16px;
        border: 1px solid #1abcfe;
        transition: background-color 0.3s, color 0.3s;
        &:hover{
            background-color: #1abcfe;
            color: #fff;
        }
    }
    .boxTitle{
        margin-top: 16px;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
}

.showCreateAds {
    width: 80%;
    margin: auto;
    min-width: 960px;
    text-align: center;
    padding: 32px 0;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #1abcfe;
    border-radius: 16px;
    margin-top: 16px;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    &:hover{
        background-color: #1abcfe;
        color: #fff;
        opacity: 0.8; 
    }
}

.adsList {
    width: 80%;
    margin: auto;
    min-width: 960px;
    margin-bottom: 30vh;
    .box {
        margin-top: 16px;
        border: 1px solid #1abcfe;
        border-radius: 16px;

        .inforBox {
            width: 50%;

            div {
                padding: 12px;
                display: flex;
                align-items: center;
                text-transform: capitalize;

                a {
                    margin-left: 8px;
                    text-decoration: underline;
                    font-weight: bold;
                }

                button {
                    background-color: #f24e1e;
                    border: none;
                    padding: 8px 16px;
                    border-radius: 8px;
                    color: #fff;
                    margin-right: 40%;

                    &:hover {
                        background-color: #1abcfe;
                    }
                }
            }

            .link {
                margin-top: 12px;
            }

        }


        img {
            max-width: 50%;
            object-fit: scale-down;
            padding: 16px;
            margin-right: 32px;
            max-height: 200px;
        }
    }

}