.adlWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .adhWrapper {
    min-width: 960px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10000;
    .adhContent {
      box-shadow: 0px 2px 5px #DDDDDD;
      display: flex;
      justify-content: space-between;
      height: 60px;
      min-width: 960px;
      // max-width: 1200px;
      margin: auto;
      align-items: center;
      .adhTextLogo {
        margin-left: 2%;
        font-weight: bold;
        font-size: 1.7rem;
        cursor: pointer;
        text-transform: capitalize;
      }
  
      .adhUserBox {
        margin-right: 2%;
        display: flex;
        #changeDepositStatusBox{
          background-color: #FFf;
          border: 1px solid #FF6464;
          display: flex;
          justify-content: center;
          // color: #fff;
          padding: 8px 16px;
          margin-right: 8px;
          border-radius: 8px;
          cursor: pointer;
          strong{
            // color: #fff;
            padding-left: 4px;
          }
          &:hover, :active{
            background-color: #FF6464;
            color: #fff;
            strong{
              color: #fff;
            }
          }
        }
        p {
          align-self: center;
          margin-right: 20px;
          font-weight: bold;
          color: #e74c3c;
          font-size: 1.3rem;
          text-transform: capitalize;
        }
  
        .adhLogout {
          padding: 8px 16px;
          background-color: #FF6464;
          border-radius: 10px;
          color: #fff;
          cursor: pointer;
          transition: color 0.3s; 
          text-transform: capitalize;
          &:hover {
            color: rgb(101, 136, 250);
          }
        }
      }
    }
  
    .adhMenu {
      border-bottom: 1px solid #DDDDDD;
      height: 65px;
      width: 100%;
      // background-color: #FF6464;
      display: flex;
      // justify-content: center;
      align-items: center;
      ul {
        min-width: 960px;
        max-width: 1200px;
        display: flex;
        margin-left: 1.8%;
        li{
          padding: 8px 16px;
          background-color: #fff;
          margin-right: 10px;
          border-radius: 18px;
          font-weight: bold;
          font-size: 0.95rem;
          background-color: #eeeeee;
          cursor: pointer;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          #totalWithDraw, #totalWarning{
            background-color: #e74c3c;
            padding: 5px 4px 4px 4px;
            border-radius: 24px;
            color: #fff;
            margin-left: 4px;
          }
        }
      }
    }
  }
  
  .bWrapper {
    margin-top: 130px;
    width: 100%;
  }