.adminlgLoginButtonBox {
    justify-content: center;
    display: flex;

    button {
        background-color: #ff6969;
        border: none;
        padding: 16px 32px;
        margin-top: 32px;
        border-radius: 8px;
        color: #fff;
    }
}

#admin2FATextLine {
    width: 70%;
    margin: 2vh auto 0 auto;

    strong {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #2b90ed;
        }
    }
}
.FAContainer {
    background-color: #fff;
    position: fixed;
    // left: calc(50%);
    top: 144px;
    width: 400px;
    left: calc(50% - 200px);
    height: max-content;
    top: calc(45% - 100px);
    z-index: 20000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .FATitle{
      font-size: 1.4rem;
      padding: 24px 0;
    }
    .inputContainer {
      display: flex;
      input {
        width: 16px;
        height: 32px;
        padding: 8px;
        text-align: center;
        margin: 4px;
        border-radius: 8px;
        font-size: 1.4rem;
        border: 1px solid #ddd;
      }
    }
    button{
      background-color: #3498db;
      color: #fff;
      border: none;
      padding: 16px 32px;
      border-radius: 16px;
      margin: 24px 0;
      &:hover{
        background-color: #006bb3;
      }
    }
  }
.add2faContainer {
    position: fixed;
    z-index: 20000;
    background-color: #fff;
    padding: 32px;
    top: 20%;
    width: 40%;
    left: 28%;
    border-radius: 32px;
    .title {
        text-align: center;
        font-size: larger;
        margin-bottom: 16px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bottomContainer {
            width: max-content;
            // background-color: #ff6969;
            padding: 8px;
            display: flex;
            flex-direction: column;
            margin-right: 8px;
            .otpInputContainer{
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                padding: 8px;
                border-radius: 16px;
                div{
                    margin-bottom: 16px
                }
                input {
                    width: 16px;
                    height: 32px;
                    padding: 8px;
                    text-align: center;
                    margin: 4px;
                    border-radius: 8px;
                    font-size: 1.4rem;
                    border: 1px solid #ddd;
                  }
                  button{
                    margin-top: 8px;
                  }
            }
            button {
                margin-bottom: 16px;
                padding: 16px 32px;
                border: none;
                background-color: #2b90ed;
                border-radius: 8px;
                align-self: center;
                color: #fff;
            }
            // .inputLoginName,
            // .inputPassword {
            //     display: flex;
            //     margin-bottom: 16px;

            //     label {
            //         width: 50%;
            //         margin-right: 8px;
            //         align-self: center;
            //     }

            //     input {
            //         padding: 8px;
            //         border: 1px solid black;
            //         border-radius: 4px;
            //     }
            // }

           
        }

        .topContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .rightTitle{    
                text-align: center;
                padding: 8px;
            }
            img{
                width: 200px;
                height: 200px;
                // background-color: #2b90ed;
                // border: 1px dashed black;
            }
        }
    }
}
#adminLoginButton{
    margin-top: 16px;
    width: 40%;
    background-color: #ff6969;
}