.ntWrapper {
    height: 100vh;
    width: 100vw;
}
.notAllowedToDisplay{
    display: none;
}

.infoContainer {
    width: 30%;
    min-width: 415px;
    height: 500px;
    // background-color: ;
    margin-right: 40px;
    padding: 16px;

    .ntTitle {
        font-size: 1.5rem;
        margin-bottom: 12px;
        font-weight: bold;
    }

    .ntBox {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 12px;
        border-radius: 20px;

        .select1 {
            // background-color: #ddd;
            min-height: 52px;
            display: flex;
            // align-items: center;
            flex-direction: column;

            .dropDownSelect {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(100% - 16px);
                min-width: 370px;
                height: 52px;
                padding-left: 16px;
                border: 1px solid #ddd;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                img {
                    height: 16px;
                    padding-right: 16px;
                }
            }

            .dropDownMenu {
                position: absolute;
                margin-top: 54px;
                z-index: 10000;
                background-color: #fff;
                width: calc(30% - 24px);

                div {
                    border-bottom: #ddd 1px solid;
                    border-left: #ddd 1px solid;
                    border-right: #ddd 1px solid;
                    ;
                    padding: 8px 16px;
                }
            }
        }

        .showAdminInfo1,
        .showAdminInfo2,
        .showAdminInfo3 {
            padding: 16px;
        }

        .inputBox1,
        .inputBox2 {
            padding: 16px;
            display: flex;
            align-items: center;

            label {
                min-width: 132px;
            }

            input {
                padding: 8px;
                border-radius: 4px;
                border: 1px solid #ddd;
            }
        }

        button {
            pointer-events: none;
            background-color: #00457d;
            color: #fff;
            border: none;
            padding: 8px 32px;
            border-radius: 8px;
            opacity: 0.5;
            margin-top: 16px;
            margin-bottom: 16px;
            margin-left: calc(50% - 45px - 16px);
        }

        .ready {
            opacity: 1;
            pointer-events: visible;
            cursor: pointer;

            &:hover {}
        }
    }
}

.qrContainer {
    min-width: 480px;
    height: 480px;
    background-color: #ddd;
    padding: 12px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;

    div {
        font-size: 1.5rem;
        margin-bottom: 12px;
        font-weight: bold;
        height: 52px;
    }

    img {
        height: 80%;
        width: 80%;
        border-radius: 16px;
        margin-bottom: 16px;
    }
}

.mobile-only {
    display: none;
}

#save-qr-image-pc {
    background-color: #FF6969;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 16px;
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {

    /* Your mobile-specific styles go here */
    .ntWrapper {
        display: flex;
        flex-direction: column;
        height: max-content;

        .mbContainer1 {
            margin-bottom: 10vh;
            width: 90vw;
            padding: 32px 16px;

            .mbTitle {
                font-size: 24px;
                font-weight: bold;
                margin: 16px 0;
            }

            .mbContent {
                font-size: 16px;
                width: 100%;

                .chargeValueContainer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .another-option{
                        background-color: #FF6969;
                        color: #fff;
                        border: 1px solid #FF6969;
                    }

                    .selectedAmount {
                        background-color: #FF6969;
                        color: #fff;
                        border: 1px solid #FF6969;
                    }

                    div {
                        border: 1px solid black;
                        margin-top: 16px;
                        width: min-content;
                        padding: 8px 16px;
                        min-width: 120px;
                        text-align: center;
                        border-radius: 8px;
                    }
                }

                .mbInputBox1 {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    label {
                        padding: 12px 0;
                    }

                    input {
                        padding: 16px;
                        border-radius: 8px;
                        border: 1px solid #000;
                        background-color: #fff;
                    }
                }

                .mbInputBox2 {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    label {
                        padding: 12px 0;
                    }

                    input {
                        margin-top: 16px;
                        padding: 16px;
                        border-radius: 8px;
                        border: 1px solid #000;
                        background-color: #fff;
                    }
                }
                .warning-valid-amount{
                    padding-left: 16px;
                    padding-top: 8px;
                    color: #FF6969;
                }
                .mbSelect1 {
                    background-color: #fff;
                    border: 1px solid #ddd;
                    padding: 16px;
                    margin-top: 16px;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                    max-height: 18px;

                    .dropDownSelect {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            height: 18px;
                        }
                    }
                }

                .dropDownMenu {
                    position: absolute;
                    width: 90vw;
                    // margin-top: 16px;
                    z-index: 10000;
                    background-color: #fff;

                    div {
                        border-bottom: #ddd 1px solid;
                        border-left: #ddd 1px solid;
                        border-right: #ddd 1px solid;
                        ;
                        padding: 8px 16px;
                    }
                }

                .showAdminInfoBox {
                    margin-top: 16px;

                    div {
                        padding: 8px 0;
                        display: flex;
                        align-items: center;

                        p {
                            // font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }

                button {
                    width: 100%;
                    padding: 16px 32px;
                    background-color: #00457d;
                    color: #ddd;
                    opacity: 0.5;
                    border: none;
                    border-radius: 16px;
                    margin-top: 32px;
                    pointer-events: none;
                }

                .ready {
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }

        .mbContainer2 {
            display: flex;
            flex-direction: column;
            margin-top: 10vh;

            div {
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 16px;
            }

            img {
                width: calc(100vw - 32px);
                border-radius: 8px;
            }

            button {
                margin: 16px 0;
                background-color: #fff;
                padding: 16px 32px;
                border-radius: 16px;
                width: 80vw;
                margin: 16px auto;
            }
        }
    }

    .mobile-only {
        display: block;
    }

    .pc-only {
        display: none;
    }
}