@keyframes pulse {
    0% {
        border-color: rgba(242, 78, 30, 0.8);
        box-shadow: 0 0 10px rgba(242, 78, 30, 0.6);
    }

    50% {
        border-color: rgba(242, 78, 30, 0.4);
        box-shadow: 0 0 10px rgba(242, 78, 30, 0.2);
        /* Màu viền tạm thời, bạn có thể thay đổi theo ý muốn */
    }

    100% {
        border-color: rgba(242, 78, 30, 0.8);
        box-shadow: 0 0 10px rgba(242, 78, 30, 0.6);
    }
}
.wdWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .popup-box{
        position: fixed;
        background-color: #fff;
        z-index: 20000;
        padding: 16px 32px;
        top: 30%;
        width: calc(80% - 64px);
        display: flex;
        flex-direction: column;
        // align-items: center;
        border-radius: 16px;
    }
    .showInfoRequestBox{
        padding: 32px;
        div{
            margin-bottom: 16px;
        }
        p{
            color: #f24e1e;
        }
    }
    .alertMessage{
        text-align: center;
        text-transform: capitalize;
        padding: 32px 32px;
        white-space: pre-line;
    }
    h2 {
        margin-top: 32px;
        width: 80%;
        text-align: center;
    }

    .loginName {
        width: 80%;
        margin-top: 16px;
    }

    .selectBankShortNameBox {
        margin-top: 16px;
        width: 80%;

        select {
            width: 100%;
            padding: 16px;
        }
    }

    .inputAmountBox,
    .inputBankNumberBox {
        margin-top: 16px;
        width: 80%;

        input {
            padding: 16px;
            width: calc(100% - 32px);
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .active {
            border: 1px solid rgba(242, 78, 30, 0.8);
            animation: pulse 2s infinite;
        }

        p {
            margin-top: 8px;
            padding-left: 8px;
            font-size: 16px;
            color: #f24e1e;
        }
    }

    .inputBankOwnerBox {
        margin-top: 16px;
        width: 80%;

        input {
            padding: 16px;
            width: calc(100% - 32px);
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            // text-transform: uppercase;
        }

        .active {
            border: 1px solid rgba(242, 78, 30, 0.8);
            animation: pulse 2s infinite;
        }
    }

    button {
        margin-top: 32px;
        padding: 16px 32px;
        // background-color: #f26749;
        background-color: #2b90ed;
        border: none;
        font-size: medium;
        font-weight: bold;
        color: #fff;
        border-radius: 16px;
    }

    .disableButton {
        opacity: 0.3;
        background-color: #2b90ed;
        pointer-events: none;
    }
}
.notAllowedToDisplay{
    display: none;
}