.uWrapper {
  min-width: 960px;
  width: 90%;
  margin: auto;
  background-color: #fff;
  .uGroupName {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .uContentBox {
    .uTitle {
      font-size: 1.2rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #ddd;
      display: flex;
      form {
        margin-left: auto;
        margin-right: 0.5vw;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        max-height: 29px;
        .dSearchBar {
          display: flex;
          border-radius: 5px;
          border: 2px solid #ccc;
          p {
            padding: 5px 10px;
            font-size: 0.9rem;
          }
          input {
            padding: 5px 5px;
            border: none;
            font-size: 0.9rem;
            &:focus {
              outline: none;
              border-color: transparent;
            }
          }
        }
        img {
          cursor: pointer;
          overflow: auto;
          max-width: 29px;
          max-height: 29px;
        }
      }
    }
    .tableTitle{
      padding: 12px 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px dashed #ddd;
    }
    .tableContent{
      width: 100%;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px dashed #ddd;
    }
    .uUsersList{
      display: flex;
      justify-content: space-between;
      .uUsersName{
        width: 45%;
        min-width: 400px;
      }
      .uUsersAmount{
        width: 15%;
        min-width: 100px;
      }
      .uUsersLoginName{
        width: 20%;
        min-width: 150px;
      }
      .uUsersDetails{
        width: 10%;
        min-width: 60px;
      }
      .uUsersActive{
        width: 10%;
        min-width: 150px;
      }
    }
  
  }
  .uPagination {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    > button {
      margin: 0 3px;
      padding: 3.5px 4px 2px 4px;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      background-color: #fff;
    }
    .active {
      background-color: aqua;
    }
  }
}
